@import "~normalize.css";
@import "../node_modules/@fortawesome/fontawesome-free/css/all.min.css";

* {
  box-sizing: border-box;
}

html {
  font-family: Roboto, Arial, sans-serif;
}

header {
  padding: 8px 0;
}

h1 {
  margin: 0;
  padding: 0;
}

body {
  padding: 8px;
}

button:hover {
  cursor: pointer;
}

ul, li {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.tools-panel {
  background-color: #ccc;
  padding: 8px;
}

.tools-panel > :not(:last-child) {
  margin-right: 8px;
}

.scale-control {
  display: inline-block;
}

.scale-control button {
  background-color: #eee;
  border: 1px solid #000;
  padding: 8px 16px;
}

span#show-scale {
  font-weight: bold;
  max-width: 20px;
}

#mountNode {
  display: inline-block;
  border: 1px solid #000;
  box-shadow: 1px -1px 2px 2px #000a;
  width: 1000px;

  position: absolute !important;
  top: 0px;
  left: 320px;
}

.editor-area {
  position: relative;
  margin-top: 50px;
}

#fit-btn {
  background-color: coral;
  border: 2px solid black;
  font-size: 14pt;
  padding: 10px;
}

#fit-btn:hover {
  background-color: rgb(245, 77, 17);
}

#testMode-btn {
  background-color: #41ac5b;
  border: 2px solid black;
  font-size: 14pt;
  padding: 10px;
}

#testMode-btn.active {
  background-color: #41705b;
}

#testMode-btn:hover {
  background-color: #41905b;
}

#doTact-btn,
#discard-inputs-btn {
  background-color: #fff;
  border: 2px solid black;
  font-size: 14pt;
  padding: 10px;
}

#doTact-btn:hover,
#discard-inputs-btn:hover {
  background-color: #eee;
}

#doTact-btn[disabled],
#discard-inputs-btn[disabled] {
  background-color: rgb(165, 133, 121);
  color: rgb(66, 57, 50);
  cursor: default;
}

#select-obj {
  display: flex;
  width: 300px;
  flex-direction: column;
  font-size: 14px;
  margin-right: 20px;
  border: 2px solid black;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8px;
  background-color: #41ac5b;
  position: relative;
}

.card-header .toggle {
  padding: 8px;
  cursor: pointer;
}

ul.card-body {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 16px;
}

ul.card-body li {
  width: 148px;
  text-align: center;
  border: 1px solid #000;
  padding: 8px;
}

.obj .img {
  height: 50px;
  background-color: #41705b;
}