@import "/node_modules/normalize.css/normalize.css";

html {
  font-family: Roboto, Arial, sans-serif;
}

button:hover {
  cursor: pointer;
}

.tools-panel {
  background-color: #ccc;
}

#show-scale {
  display: inline-block;
}

#mountNode {
  display: inline-block;
  border: 2px dashed black;
  width: 1000px;
}

.editor-area {
  display: flex;
  margin-top: 50px;
}

#fit-btn {
  background-color: coral;
  border: 2px solid black;
  font-size: 14pt;
  margin-right: 20px;
  padding: 10px;
}

#fit-btn:hover {
  background-color: rgb(245, 77, 17);
}

#testMode-btn {
  background-color: #41ac5b;
  border: 2px solid black;
  font-size: 14pt;
  margin-right: 20px;
  padding: 10px;
}

#testMode-btn.active {
  background-color: #41905b;
}

#testMode-btn:hover {
  background-color: #41905b;
}

#doTact-btn {
  background-color: #fff;
  border: 2px solid black;
  font-size: 14pt;
  margin-right: 20px;
  padding: 10px;
}

#doTact-btn:hover {
  background-color: #eee;
}

#doTact-btn[disabled] {
  background-color: rgb(165, 133, 121);
  color: rgb(66, 57, 50);
}

#select-gate div {
  min-width: 150px;
  padding: 20px;
  cursor: pointer;
  border: 1px solid;
  background-color: rgb(74, 127, 241);
  color: white;
  text-align: center;
}

#select-gate div:hover {
  background-color: rgb(20, 90, 241);
}

#select-gate {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  margin-right: 20px;
  border: 2px solid black;
}